<div *ngIf="!isAddingChannel overflow-auto">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted text-left mb-3 font-weight-bold">
        <span style="width: 100%; color:white;" id="staredDiv">
            Stared
        </span>
        <hr>
        </h6>
        <ul class="nav flex-column" style="width:100%;">
        <div *ngFor="let cha of connectedRooms">
            <div *ngIf="cha.stared === 1">
            <li class="nav-item" value="{{cha}}" style="width:100%;">
                <a class="nav-link text-light" style="text-decoration: none;" (click)="changeChannel(cha)">
                {{ cha.name }}
                </a>
                <a>
                <i class="fas fa-heart" style="float:right; color:white; position:relative; bottom:25px; right:15px;"></i>
                </a>
            </li>
            </div>
        </div>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted text-left mb-3 font-weight-bold">
            <span style="width: 100%; color:white;">
              Channels
              <a href="#" (click)="searchChannel()">
              <i class="fa fa-plus-circle" style="float:right; color:white;"></i>
              </a>
            </span>
          </h6>
        <ul class="nav flex-column" style="width:100%;">
        <div *ngFor="let cha of connectedRooms" >
            <div *ngIf="cha.stared === 0">
            <li class="nav-item" style="width:100%;" value="{{cha}}">
            <a class="nav-link text-light" style="text-decoration: none;" (click)="changeChannel(cha)">
                # {{ cha.name }}
            </a>
            <a>
                <i class="far fa-heart" style="float:right; color:white; position:relative; bottom:25px; right:15px;"></i>
            </a>
            </li>
            </div>
        </div>
        </ul>
</div>

<div *ngIf="isAddingChannel overflow-auto">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted text-left mb-3 font-weight-bold">
        <span style="width: 100%; color:white;">
          Create a channel
          <a href="#" (click)="openModal(templateRef)">
          <i class="fa fa-plus-circle" style="float:right; color:white;"></i>
          </a>
        </span>
    </h6>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 text-muted text-left mb-3 font-weight-bold">
        <span style="width: 100%; color:white;">
          List of all channels
        </span>
      <hr>
    </h6>
    <ul class="nav flex-column" style="width:100%;">
        <div *ngFor="let room of allRooms" >
            <li class="nav-item" style="width:100%;" value="{{room}}">
            <a class="nav-link text-light" style="text-decoration: none;" (click)="joinChannel(room)">
                # {{ room.name }}
            </a>
            <a>
                <i class="fa fa-plus-circle" style="float:right; color:white; position:relative; bottom:25px; right:15px;" (click)="joinChannel(room)"></i>
            </a>
            </li>
        </div>
    </ul>
</div>

<ng-template #templateRef>
    <div class="modal-content" [hidden]="!showModal">
      <div class="modal-header text-center">
        <h5 class="modal-title">New channel</h5>
      </div>
      <div class="modal-body">
        <input type="text" id="newChanelName" class="form-control" placeholder="Chanel name..."
               [(ngModel)]="newChanel" (keydown.enter)="onAddChanel()" />
      </div>
      <div class="modal-footer">
        <button class="btn btn-elegant" (click)="onAddChanel()">
          Validate
        </button>
      </div>
    </div>
</ng-template>
