<!-- Login -->

  <h1 class="p-3 mb-4 font-weight-bold">Login</h1>
  <div class="input-group mb-3">
    <div class="col-lg-3 p-0">
      <span class="input-group-text value login-span" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Email</span>
    </div>
    <div class="col-lg-9 p-0">
      <input type="text" class="form-control" [(ngModel)]="loginEmail" placeholder="Email" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
    </div>
  </div>
  <div class="input-group mb-3">
    <div class="col-lg-3 p-0">
      <span class="input-group-text value" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Password</span>
    </div>
    <div class="col-lg-9 p-0">
      <input type="password" class="form-control" [(ngModel)]="loginPassword" placeholder="Password" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
    </div>
  </div>
  <button class="btn btn-default btn-block" (click)="login()">Login</button>

