<div class="col-lg-12 m-0 px-4 grey lighten-2 border-bottom border-dark" id="top-info">
    <div class="row" *ngIf="showTopBar">
        <div class="col-sm-7">
            <div class="row pt-2">
                <h1 class="m-0 px-2">{{ channelName | titlecase }}</h1>
            <i class=" pl-5 fa fa-user fa-2x pt-2"> {{ nbChannelUsers }}</i> 
            </div>
            
        </div>
              
        <!-- <div class="col-sm3"></div> -->
        <div class="col-sm-5 pt-1 px-0">
            <button type="button" class="btn btn-elegant btn-bloc" style = 'float: right;' (click)="leaveChannel()">Leave Channel</button>
        </div>
    </div>
  
</div>