<div class="container-fluid" style="height:100vh" *ngIf="isAuth">
    <div class="row  overflow-hidden">
        <div class="col-lg-2 col-md-4 p-0  overflow-hidden">
        <app-sidebar 
            [chanels]="rooms" 
            [pseudo]="usernm" 
            (selectionnedChannel)="onChangeChannel($event)"
            (userPseudo)="onChangePseudo($event)"
        ></app-sidebar>
        </div>
        <div class="col-lg-10 col-md-8 px-0 overflow-hidden">
        <app-chat
            [messages]="messages"
            [message]="message"
            [isAuth]="isAuth"
            [selectionnedChannel]="selectionnedChannel"
            [user]="userPseudo"
            (emittedValue)="outputMessageValue($event)"    
        ></app-chat>
        </div>
    </div>
</div>

<div class="container" *ngIf="!isAuth" style="height:100vh">
    <div class="row" style="height: 10%;"></div>
    <div class="col-lg-12 card mt-5 mx-0 grey lighten-2 px-5">
        <div class="row">
            <!-- Login -->
            <div class="col-lg-6 p-3 text-center">
                <h1 class="p-3 mb-4 font-weight-bold">Login</h1>
                <div class="input-group mb-3">
                    <div class="col-lg-3 p-0">
                        <span class="input-group-text value login-span" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Email</span>
                    </div>
                    <div class="col-lg-9 p-0">
                        <input type="text" class="form-control" [(ngModel)]="loginEmail" placeholder="Email" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="col-lg-3 p-0">
                        <span class="input-group-text value" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Password</span>
                    </div>
                    <div class="col-lg-9 p-0">
                        <input type="password" class="form-control" [(ngModel)]="loginPassword" placeholder="Password" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
                    </div>
                </div>
                <button class="btn btn-default btn-block" (click)="login()">Login</button>
            </div>
            <!-- Register -->
            <div class="col-lg-6 p-3 text-center">
                <h1 class="p-3 mb-4 font-weight-bold">Register</h1>
                <div class="input-group mb-3">
                    <div class="col-lg-3 p-0">
                        <span class="input-group-text value login-span" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">First Name</span>
                    </div>
                    <div class="col-lg-9 p-0">
                        <input type="text" class="form-control" [(ngModel)]="regFirstName" placeholder="First Name" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="col-lg-3 p-0">
                        <span class="input-group-text value login-span" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Last Name</span>
                    </div>
                    <div class="col-lg-9 p-0">
                        <input type="text" class="form-control" [(ngModel)]="regLastName" placeholder="Last Name" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="col-lg-3 p-0">
                        <span class="input-group-text value login-span" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Email</span>
                    </div>
                    <div class="col-lg-9 p-0">
                        <input type="text" class="form-control" [(ngModel)]="regEmail" placeholder="Email" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="col-lg-3 p-0">
                        <span class="input-group-text value" id="basic-addon1" style="border-top-right-radius:0px; border-bottom-right-radius:0px;">Password</span>
                    </div>
                    <div class="col-lg-9 p-0">
                        <input type="password" class="form-control" [(ngModel)]="regPassword" placeholder="Password" style="border-top-left-radius:0px; border-bottom-left-radius:0px;">
                    </div>
                </div>
                <button class="btn btn-default btn-block" (click)="register()">Register</button>
            </div>
        </div>

    </div>
</div>
