<div>
    <input type="text" class="form-control" placeholder="Enter your name here" [(ngModel)]="user" (keydown.enter)="join()">
    <button (click)="join()" type="submit">Send</button>
    <button (click)="leave()">Leave</button>
</div>
<div>
    <input autofocus="true" type="text" class="form-control" placeholder="type your messgae ..." [(ngModel)]="message" (keydown.enter)="sendMessage()">
    <button (click)="sendMessage()" type="submit">Send</button>
</div>
<div *ngFor="let item of messages">
    <span><strong>{{ item.user }} : </strong> {{ item.message }}</span>
</div>