<div class="container-fluid" style="height:100vh" *ngIf="isAuth">
  <div class="row  overflow-hidden">
    <div class="col-lg-2 col-md-4 p-0  overflow-hidden">
      <app-sidebar
        [chanels]="rooms"
        [pseudo]="usernm"
        (selectionnedChannel)="onChangeChannel($event)"
        (userPseudo)="onChangePseudo($event)"
        (generalDisconnectEvent)="onGeneralDisconnectEvent($event)"
      ></app-sidebar>
    </div>
    <div class="col-lg-10 col-md-8 px-0 overflow-hidden">
      <app-chat
        [messages]="messages"
        [message]="message"
        [isAuth]="isAuth"
        [selectionnedChannel]="selectionnedChannel"
        [user]="userPseudo"
        (emittedValue)="outputMessageValue($event)"
      ></app-chat>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isAuth" style="height:100vh">
  <div class="col-lg-12 card mt-5 mx-0 grey lighten-2 px-5">
    <div class="row">
      <div class="col-lg-6 p-3 text-center">
        <app-login
          (loginEvent)="onLoginEvent($event)"
        >
        </app-login>
      </div>
      <div class="col-lg-6 p-3 text-center">
        <app-register
          (registerEmittedValue)="onRegisterEvent($event)"
        >
        </app-register>
      </div>
    </div>
  </div>
</div>
