<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 m0 text-white lead">
    {{ usr | titlecase }}
  <a (click)="changeUserInfo()">
    <!-- <fa name="cog" style="float:right; color:white;"></fa> -->
  </a>
</h6>
<a (click)="onUserDisconnect()">
  <i class="fas fa-sign-out-alt" style="float:right; color:white; position:relative; bottom:25px; right:15px;"></i>
</a>
<hr style="border: 1px solid white;">



<!--


      <button class="btn btn-amber btn-block" style="position:absolute; right:0; bottom:0;" (click)="onDisconnectEvent()">
        Disconnect
      </button>

-->
