<div class="stylish-color-dark sidebar overflow-auto" style="height: 100vh">
  <div class="sidebar-sticky">
    <app-user-info
      [usr]="pseudo"
      (userPseudo)="onChangePseudo($event)"
    >
    </app-user-info>
    <app-user-chanels
      [user]="user"
      (selectionnedChannel)="onChangeChannel($event)"
      >
    </app-user-chanels>
    <div>
      <button class="btn btn-amber btn-block" style="position:absolute; right:0; bottom:0;" (click)="onDisconnectEvent()">
        Disconnect
      </button>
    </div>
  </div>
</div>
