<div class="stylish-color-dark sidebar overflow-auto" style="height: 100vh" id="sidebarComponent">
  <div class="sidebar-sticky">
    <app-user-info
      [usr]="pseudo"
      [channel]="channelId"
      (userPseudo)="onChangePseudo($event)"
      (userDisconnect)="onDisconnectEvent($event)"
      [connectedRooms]="connectedRooms"
      [idUser]="userId"
    >
    </app-user-info>
    <app-user-chanels
      [user]="user"
      [leaveChannelId]="leaveChannelId"
      (selectionnedChannel)="onChangeChannel($event)"
      (outputConnectedRoomsEvent)="recoverConnectedRooms($event)"
      >
    </app-user-chanels>
  </div>
</div>
